@model IEnumerable<CheckInCommon.UserCheckIn>


@{
    ViewBag.Title = "PostPage";
}
<div class="container">
    <h2>Post Page</h2>
    <p>Thank you...</p>
    <a href="https://safetylineloneworker.com/">Return to SafetyLineLoneWorker</a>

    <br />

    @Html.ActionLink("Back to Form", "Create", "UserCheckIns", null, new { @class = "btn btn-default" })
</div>